DB_URL = "postgresql://postgres:1234@localhost:1234/server"

SECRET_KEY = "secret_key"
REFRESH_SECRET_KEY = "secret_key"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS=7
SESSION_WAIT_MINUTES=1
MIN_CLIENTS_FOR_TRAINING=0

REACT_APP_SERVER_BASE_URL=http://localhost:8000

REACT_APP_PRIVATE_SERVER_URL = http://localhost:9090

AWS_ACCESS_KEY_ID = "abc"
AWS_SECRET_ACCESS_KEY = "abc"
AWS_REGION = "ap-south-1"
BUCKET_NAME = "qpd-data"
QPD_DATASET_DIR_ON_S3 = "temp"