__pycache__
/backend/app/storage/database.db
/frontend/node_modules

backend/app/storage/database.db
frontend/node_modules

work.md
global_test_data
global_parameters.txt
testing_parameters.txt
aggregated_sums.txt
venv
/storage/database.db
backend/app/storage/database.db
.env


