__pycache__
/backend/app/storage/database.db
/frontend/node_modules

backend/app/storage/database.db
frontend/node_modules

work.md
global_test_data
global_parameters.txt
testing_parameters.txt
aggregated_sums.txt
venv
/storage/database.db
backend/app/storage/database.db
.env
testing.py 
execute.py
wslenv
create_data.py

backend/app/data 
backend/app/logs/
backend/app/aggregated_sums.txt
create_data.py
./create_data.py
/logs




