elephas==6.2.1
fastapi==0.115.12  
hdfs==2.7.3
numpy==1.23.5
passlib==1.7.4
pydantic==2.11.2  
pyspark==3.5.1
python-dotenv==1.1.0
python_jose==3.4.0
pytz==2025.1
requests==2.32.3
scikit-learn==1.6.1  
scipy==1.13.0  
SQLAlchemy==2.0.40
sse_starlette==2.2.1
statsmodels==0.14.4
tensorflow==2.15.1  
uvicorn==0.32.0  
starlette==0.41.3
protobuf==5.29.4  
grpcio==1.71.0  
pandas==2.2.3  