# pip install pip-tools
# pip-compile --output-file requirements.txt requirements.in
# pip-compile --output-file requirements.txt requirements.in --upgrade
# pip install -r requirements.txt

################################################################################################
# write the package without version here, and compile this file to get requirements.txt
################################################################################################

absl-py
alembic
annotated-types
anyio
astunparse
bcrypt
certifi
charset-normalizer
click
dnspython
docopt
ecdsa
elephas
email_validator
exceptiongroup
fastapi
fastapi-cli
flatbuffers
gast
google-pasta
greenlet
grpcio
h11
h5py
hdfs
httpcore
httptools
httpx
idna
Jinja2
joblib
keras
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pandas
passlib
patsy
protobuf
py4j
pyasn1
pydantic
pydantic_core
Pygments
PyJWT
pyspark
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
requests
rich
rich-toolkit
rsa
schema
scikit-learn
scipy
shellingham
six
sniffio
SQLAlchemy
sse-starlette
starlette
statsmodels
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typer
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
wrapt
